.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(30, 30, 30, 0.2);
  z-index: 1000;
  box-shadow: var(--mui-shadows-7);
  height: var(--navbar-height);

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
  }

  .link.active svg {
    color: var(--mui-palette-primary-main);
  }
}
