* {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
}

a {
  color: inherit;
}

.page-layout {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  height: 100dvh;
  overflow: hidden;
}
.page-layout .outlet {
  padding: 1rem;
  overflow: auto;
}
