* {
  margin: 0;
  padding: 0;
  /* transition: all 0.3s; */
  box-sizing: border-box;
  font-family: Montserrat;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
  --navbar-height: 40px;
}

a {
  color: inherit;
}

input {
  width: 100%;
  padding: 10px 19px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

button {
  padding: 0.5rem;
  border-radius: 100px;
  border: none;
  box-shadow: 0 1px 4px rgba(33, 33, 33, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

input:focus {
  border: none;
  outline: 1px solid #00adb5;
}

.page-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}
.page-layout .outlet {
  height: calc(100dvh - var(--navbar-height));
  padding: 0;
  overflow: auto;
}

.page {
  padding: 1rem;
}
hr {
  margin: 1rem 0;
  background-color: var(--palette-divider);
  width: 80dvw;
}

.outlet {
  height: calc(100dvh - var(--navbar-height));
  overflow: auto;
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
